@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

$primary: #000 !default;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

// $spacer: 1rem !default;

// $body-bg: $white !default;
// $body-color: $gray-900 !default;

// $link-color: theme-color("primary") !default;
// $link-decoration: none !default;
// $link-hover-color: darken($link-color, 15%) !default;
// $link-hover-decoration: underline !default;

// $line-height-lg: 1.5 !default;
// $line-height-sm: 1.5 !default;
// $line-height-base: 1.5 !default;

// $border-width: 1px !default;
// $border-color: $gray-300 !default;

$border-radius-lg: 0.2rem !default;
$border-radius: 0.1rem !default;
$border-radius-sm: 0rem !default;

// $box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
// $box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
// $box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
//   "Liberation Mono", "Courier New", monospace !default;

// $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $font-size-lg: ($font-size-base * 1.25) !default;
// $font-size-sm: ($font-size-base * 0.875) !default;

// $h1-font-size: $font-size-base * 2.5 !default;
// $h2-font-size: $font-size-base * 2 !default;
// $h3-font-size: $font-size-base * 1.75 !default;
// $h4-font-size: $font-size-base * 1.5 !default;
// $h5-font-size: $font-size-base * 1.25 !default;
// $h6-font-size: $font-size-base !default;

// $input-btn-padding-y: 0.375rem !default;
// $input-btn-padding-x: 0.75rem !default;
// $input-btn-font-size: $font-size-base !default;
// $input-btn-line-height: $line-height-base !default;

// $input-btn-focus-width: 0.2rem !default;
// $input-btn-focus-color: rgba($component-active-bg, 0.25) !default;
// $input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// $input-btn-padding-y-sm: 0.25rem !default;
// $input-btn-padding-x-sm: 0.5rem !default;
// $input-btn-font-size-sm: $font-size-sm !default;
// $input-btn-line-height-sm: $line-height-sm !default;

// $input-btn-padding-y-lg: 0.5rem !default;
// $input-btn-padding-x-lg: 1rem !default;
// $input-btn-font-size-lg: $font-size-lg !default;
// $input-btn-line-height-lg: $line-height-lg !default;

@import "/node_modules/bootstrap/scss/bootstrap";
