@import "./variables";

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-success {
  color: $success;
}

.color-info {
  color: $info;
}

.color-warning {
  color: $warning;
}

.color-danger {
  color: $danger;
}

.color-light {
  color: $light;
}

.color-dark {
  color: $dark;
}

.header {
  background-color: $primary;
  padding: ($spacer * 2) $spacer;

  .navbar {
    .navbar-brand {
      img {
        max-height: 50px;
      }
    }
  }
}

.hero {
  padding: ($spacer * 2) 0;

  .headline {
    padding: ($spacer * 2);
    background: $primary;
  }

  .form-container {
    padding: ($spacer * 2);
    background: $dark;
    border-radius: $border-radius;

    legend {
      text-align: center;
    }
  }

  .form-state {
    padding: ($spacer * 2) $spacer;
    background: $light;
    border-radius: $border-radius;
    text-align: center;

    p {
      margin: 0;
    }
  }
}

.footer {
  padding: ($spacer * 2) $spacer;
  border-top: 3px solid $primary;
  text-align: center;

  .logo {
    max-height: 50px;
  }
}

.privacy-policy {
  padding: ($spacer * 2) $spacer;
  text-align: justify;

  h1 {
    text-align: center;
    color: $primary;
  }

  h2 {
    color: $primary;
  }

  a {
    text-decoration: underline;
  }

  .loading {
    text-align: center;
  }

  footer {
    text-align: center;
  }
}

.loading {
  .distractor {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .distractor div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: distractor 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent transparent;
  }
  .distractor div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .distractor div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .distractor div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes distractor {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
