@import "./variables";

.header {
  .navbar {
  }
}

.hero {
  .form-containter {
  }

  .form-state {
  }
}

.main {
}

.kard {
  text-align: center;

  .img {
    margin-bottom: $spacer;
  }
}

.splitter {
  &:nth-child(even) {
    .row {
      flex-direction: row-reverse;
    }

    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }

  .row {
    align-items: center;
  }

  .content {
    padding: $spacer * 2;
  }
}

.footer {
}
