@import "./variables";

.header {
  background-color: $primary;
  padding: $spacer;

  .navbar {
    .navbar-brand {
      img {
        max-height: 50px;
      }
    }
  }
}

.hero {
  .form-container {
    padding: $spacer;
    background: $light;
    border-radius: $border-radius;

    legend {
      text-align: center;
    }
  }

  .form-state {
    padding: $spacer;
    background: $light;
    border-radius: $border-radius;
  }
}

.footer {
  padding: $spacer;
  border-top: 3px solid $primary;
  background-color: $secondary;
  text-align: center;

  .logo {
    max-height: 50px;
  }
}
